<div class="container-fluid">
  <div id="search-form" class="row mt-3 justify-content-start">

    <div class="col-12 col-md-6 col-xl-8 mb-3">
        <a class="btn btn-primary btn-block gradient-custom-4" href="/room/add-room">
          <i class="fas fa-plus-circle"></i>
          Thêm phòng
        </a>
    </div>

    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="p-1 bg-light rounded rounded-pill shadow-lg d-flex justify-content-end">
        <div class="input-group">
          <input id="myInput" type="search" onkeyup="mySearchFunction()" placeholder="Nhập số phòng bạn cần tìm?" aria-describedby="btn-search" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button id="btn-search" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="table-responsive">
    <table id="myTable" class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Số phòng</th>
          <th>Ngày đặt phòng</th>
          <th>Ngày hết hạn thuê</th>
          <th>Loại phòng</th>
          <th>Trạng thái</th>
          <th>Điều chỉnh</th>
        </tr>
      </thead>

      <tbody>
        {{#each room}}
          <tr>
            <td>{{this.roomNumber}}</td>
            {{#ifCond this.status "==" true}}
              <td>{{this.bookedDate}}</td>
              <td>{{this.rentalEndDate}}</td> 
              <td>{{this.type}}</td>                    
              <td>Đã có khách</td> 
            {{else}}
              <td>trống</td>
              <td>trống</td>
              <td>{{this.type}}</td>                    
              <td>Chưa có khách</td>
            {{/ifCond}}           
            
             <td>
              <div class="row text-center">
                <div class="col-4">
                  <a href="/room/edit-room/{{_id}}">
                    <i class="far fa-edit" title="Chỉnh sửa phòng"></i>
                  </a>
                </div>

                <div class="col-4">
                  <a
                    href="/room/delete-room/{{_id}}"
                    onclick="return confirm('Bạn có muốn xóa phòng này không?')"
                  >
                    <i
                      class="fas fa-trash"
                      style="color: red"
                      title="Xóa phòng"
                    ></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="center">
  <div class="mb-2 position-absolute" style="bottom: 0px;">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
              <li class="page-item {{#unless this.isPreviousPage}} disabled {{/unless}}">
                  <a class="page-link " href="/room/list-room?page={{this.previousPage}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                  </a>
              </li>
              {{#each pages}}
                  <li class="page-item {{#if this.isCurrentPage}} active {{/if}}">
                      <a class="page-link" href="/room/list-room?page={{this.page}}">{{this.page}}</a>
                  </li>
              {{/each}}

              <li class="page-item {{#unless this.isNextPage}} disabled {{/unless}}">
                  <a class="page-link" href="/room/list-room?page={{this.nextPage}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</div>