<div class="container-fluid">
  <div id="search-form" class="row mt-3 justify-content-end">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <form  action="/service-type">
        <div class="p-1 bg-light rounded rounded-pill shadow-lg d-flex justify-content-end">
          <div class="input-group">
            <input id="myInput" type="search" name="type" placeholder="Nhập tên loại dịch vụ bạn cần tìm?" aria-describedby="btn-search" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="btn-search" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="table-responsive">
    <table id="myTable" class="table table-bordered">
      <thead>
        <tr>
          <th>Loại dịch vụ</th>
          <th>Danh sách dịch vụ</th>
        </tr>
      </thead>

      <tbody>
        {{#each serviceTypes}}
          <tr>
            <td><h6>{{this.name}}</h6></td>
            <td class="list-service{{@index}}"></td>                                 
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<input type="hidden" value={{length}} id="length">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    const length = $('#length').val();
    for(let i = 0; i < length; i++){
      $(".list-service"+i).append($(".service"+i));
    }
  });  
</script>

{{#each services}}
  <div class="service{{@index}}">
    {{#if this}}
      {{#each this}}      
          <div class="service" style="display: flex; justify-content: space-between; margin-bottom: 7px;">
            <div style="display: flex;">
              <a href="{{this.image}}" target="_blank">
                <img
                class="thumbnail img-responsive"
                src="{{this.image}}"
                alt=""
                width="150px"
                height="auto"
                style="margin-bottom: 5px; margin-right: 15px; border-radius: 10px;"
                />
              </a>            

              <div>
                <p>{{this.name}}</p>
                <p>Giá: {{this.price}}</p>
              </div>
            </div>    
          </div>      
      {{/each}}
    {{else}}
      <h6>Không có dịch vụ nào</h6>
    {{/if}}
  </div>
{{/each}}

<div class="center">
  <div class="mb-2 position-absolute" style="bottom: 0px;">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
              <li class="page-item {{#unless this.isPreviousPage}} disabled {{/unless}}">
                  <a class="page-link " href="/service-type?page={{this.previousPage}}&type={{type}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                  </a>
              </li>
              {{#each pages}}
                  <li class="page-item {{#if this.isCurrentPage}} active {{/if}}">
                      <a class="page-link" href="/service-type?page={{this.page}}&type={{../type}}">{{this.page}}</a>
                  </li>
              {{/each}}

              <li class="page-item {{#unless this.isNextPage}} disabled {{/unless}}">
                  <a class="page-link" href="/service-type?page={{this.nextPage}}&type={{type}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</div>