<div class="container-fluid">
  <div id="search-form" class="row mt-3 justify-content-end">
    <div class="col-12 col-md-6 col-xl-4 mb-3">
      <div class="p-1 bg-light rounded rounded-pill shadow-lg d-flex justify-content-end">
        <div class="input-group">
          <input id="myInput" type="search" onkeyup="mySearchFunction()" placeholder="Nhập tên loại phòng bạn cần tìm?" aria-describedby="btn-search" class="form-control border-0 bg-light">
          <div class="input-group-append">
            <button id="btn-search" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-4">
  <div class="table-responsive">
    <table id="myTable" class="table table-bordered">
      <thead>
        <tr>
          <th>Khách hàng</th>
          <th class="text-center">Thời gian</th>
          <th class="text-center">Số người</th>
          <th class="text-center">Tên phòng</th>
          <th class="text-center">Loại phòng</th>
          <th class="text-center">Giá</th>
          <th class="text-center">Dịch vụ</th>
          <th class="text-center">Tính tiền</th>
        </tr>
      </thead>

      <tbody>
        {{#each detailOrderRoom}}
          <tr>
            <td>
              <div>
                <p><b>Họ tên: {{this.customerName}}</b></p>
                <p>SĐT: {{this.customerPhone}}</p>
                <p>CMND: {{customerId}}</p>
              </div>
            </td>
            <td>
              <div>
                <p><b>checkin</b>: {{this.dateOfCheckIn}}</p>
                <p><b>checkout</b>: {{this.dateOfCheckOut}}</p>
              </div>
            </td>
            <td>{{this.people}}</td>
            <td>{{this.roomID}}</td>            
            <td>{{this.roomTypeName}}</td>
            <td>{{this.price}}</td>  
            <td class="list-order-service{{@index}}"></td>
            <td class="text-center">
              <a href="/receipt/{{this._id}}">
                <button class = 'btn btn-primary btn-success'>
                  Tính tiền
                </button>
              </a>
            </td>

          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<input type="hidden" value={{length}} id="length">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    const length = $('#length').val();
    for(let i = 0; i < length; i++){
      $(".list-order-service"+i).append($(".service"+i));
    }
  });  
</script>

{{#each orderServices}}
  <div class="service{{@index}}">
    {{#if this}}
      {{#each this}}      
          <div class="service d-flex justify-content-around mb-2">
			  <div class="mx-3">
			  	<img src="{{this.serviceImage}}" width="50px" height="50px">
			  </div>        
              <div>
				<p><b>Tên: {{this.serviceName}}</b></p> 
                <p>Số lượng: {{this.number}}</p>
                <p>Giá: {{this.price}}</p>
				<p>Thời gian đặt: {{this.orderDate}}</p>
              </div>                
          </div>      
      {{/each}}
    {{else}}
      <h6 class="text-center">Chưa đặt dịch vụ</h6>
    {{/if}}
  </div>
{{/each}}

<div class="center">
  <div class="mb-2">
      <nav aria-label="Page navigation example">
          <ul class="pagination">
              <li class="page-item {{#unless this.isPreviousPage}} disabled {{/unless}}">
                  <a class="page-link " href="/customer?status=using&page={{this.previousPage}}" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                  </a>
              </li>
              {{#each pages}}
                  <li class="page-item {{#if this.isCurrentPage}} active {{/if}}">
                      <a class="page-link" href="/customer?status=using&page={{this.page}}">{{this.page}}</a>
                  </li>
              {{/each}}

              <li class="page-item {{#unless this.isNextPage}} disabled {{/unless}}">
                  <a class="page-link" href="/customer?status=using&page={{this.nextPage}}" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                  </a>
              </li>
          </ul>
      </nav>
  </div>
</div>

