<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
        <div class="bradcumbContent">
            <h2>Search Order</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
        <!-- ##### Service Intro Area Start ##### -->
    <section class="services-intro">
        <div class="search-order-container container">
            
            <div class="row align-items-center mt-5">
                <!-- Service Intro Text -->
                <div class="col-12">
                    <div class="service-intro-text">
                        <div class="section-heading text-center">
                            {{!-- <div class="line-"></div> --}}
                            <h2>Find your booked room</h2>
                        </div>
                        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris sceleri sque, at rutrum nulla dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.</p> --}}
                        {{!-- <a href="#" class="btn custom-palatin-btn mt-50">Read More</a> --}}
                    </div>
                </div>

                <!-- Services Features -->
               
                {{!-- <div class="col-12 col-lg-6">
                    <div class="row mb-100">

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-cocktail-1"></i>
                                    <p>Pool Beachbar</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-swimming-pool"></i>
                                    <p>Infinity Pool</p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Cool Facts -->
                        <div class="col-12 col-sm-4">
                            <div class="single-cool-fact">
                                <div class="scf-text">
                                    <i class="icon-beach"></i>
                                    <p>Sunbeds</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> --}}
            </div>
            
            
            
            {{!-- INPUT INFORMATION --}}
            
            <form id="search-order-form" class="row align-items-center mb-2">
                <div class="col-12 col-lg-5 mx-auto">
                    <div class="form-group row text-center">
                        <div class="col-sm-6">
                            <input type="number" class="form-control-plaintext" id="phone" name="phone" placeholder="Your phone number">
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-lg-5 mx-auto">
                    <div class="form-group row text-center">
                        <div class="col-sm-6">
                            <input type="number" class="form-control-plaintext" id="identity" name="identity" placeholder="Your ID">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 mx-auto">
                    <button type="submit" class="btn custom-palatin-btn">Search</button>
                </div>
            </form>
            {{#if err}}
            <div class="row" style="padding-left:20px;">
                <p style="color: red;">{{err}}</p>
            </div>
            {{/if}}
            <div class="mb-4" style="border: 1px solid #cb8670;"></div>
        </div>
    </section>
    <!-- ##### Service Intro Area End ##### -->
    <section class="core-features-area">
        <div class="container " style="min-height: 500px; ">
            {{#if isEmpty}}
            <div class="row d-flex justify-content-center">
                <p class="message-error">Not found your booked rooms</p>
            </div>
            {{else}}
            {{#each bookedRooms}}
            <div class="row service-item card" >
                 <div class="col-12 col-md-3">
                    <img src="{{this.room.image}}"/>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="/rooms/{{this.room._id}}" class="book-room-btn btn custom-palatin-btn price-btn ">Details</a>      
                    </div>
                    
                    <p class="price-text" style="font-size: 16px;">Room Number: <span style="color: #cb8670;">{{this.roomID}}</span></p>
                     
                </div>
                <div class="col-md-6 col-12 text-container">
                    <h2>{{this.room.name}}</h2>
                    <p>Price: {{this.room.price}}$</p>
                    <p>Beds: {{this.room.bed}}</p>
                    <p>People: {{this.people}}</p>
                    
                </div>
            
                <div class="col-md-2 col-12 price-container d-flex">
                    <p>Check in date: {{this.dateOfCheckIn}}</p>
                    <p>Check out date: {{this.dateOfCheckOut}}</p>
                    
                   
                </div>
            </div>
            {{/each}}
            {{/if}}
           
        </div>
    </section>