<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img d-flex align-items-center justify-content-center" style="background-image: url(/img/bg-img/bg-5.jpg);">
    <div class="bradcumbContent">
        {{!-- <h2>Search Order</h2> --}}
    </div>
</section>
<section class="rooms-area section-padding-0-100">
    

    <form action="/services/add-to-cart" method="POST">
    {{#each services}}
    <div class="container card" style="margin-top:20px;padding-top:20px;">
        
       
        <div class="row custom-service-item">
            <div class="col-lg-3 col-12 image-container">
                <img src="{{this.image}}"/>
            </div>
            <div class="col-lg-9 col-12 info-container">
                <div class="text-container">
                    <h2>{{this.name}} </h2> 
                    <span class="price-text">{{this.price}} $</span>
                    <p>{{this.description}}</p>
                </div>
                <div class="order-amount-container">
                    <button type="button" class="order-service-button" onclick="changeValue('{{this._id}}','-')">
                        <span><i class="fa fa-minus"></i></span>
                    </button>
                    <input type="hidden" name="id_service" value="{{this._id}}">
                    <input type="hidden" name="name_service" value="{{this.name}}">
                    <input type="hidden" name="price_service" value="{{this.price}}">
                    <input
                        type="number"
                        name="order_amount"
                        class="order-amount order-service-amount"
                        min="0"
                        value="0"
                        id="{{this._id}}"
                    >
                    <button type="button" class="order-service-button" onclick="changeValue('{{this._id}}','+')">
                        <span><i class="fa fa-plus"></i></span>
                    </button>
                    
                </div>
            </div>
            
        </div>
        
        
        
    </div>
    {{/each}}
    {{#if isAuth}}
        <div class="container" style="margin-top:20px;padding-top:20px;">
            <button class="btn-find btn palatin-btn mb-4" type="submit">Confirm</button>
        </div>
        
    {{/if}}
    </form>

    
    </form>
</section>

<script>
function changeValue(inputID,operator)
{

    var input=document.getElementById(inputID);
   
    const value=parseInt(input.value);
    if(value<0)
    {
        input.value=0;
        return;
    }
    if(operator=='+')
    {
        input.value=value+1;
    }
    if(operator=='-')
    {
        if(value>0)
        {
            input.value=value-1;
        }
    }
    
}

</script>