<div class="section-order p-4 mb-5" style="margin-top: 140px;">
    <h2 class="mb-3">Your information</h2>
    <form id="input-information-form" method="POST" action="" class="row g-3 px-2 input-information-form needs-validation" novalidate>
        <div class="col-12 col-md-6 col-lg-5 mb-4">
            <label for="fullname">Full name:</label>
            <input disabled style="background-color: #fff;" type="text" class="form-control" name="fullname" id="fullname" value="{{user.fullname}}" required>
        </div>

        <div class="col-12 col-md-6 col-lg-5 mb-4">
            <label for="fullname">Phone number:</label>
            <input disabled style="background-color: #fff;" type="number" class="form-control" name="phone" id="phone" value="{{user.phone}}" required>
        </div>

        <div class="col-12 col-md-6 col-lg-5 mb-4">
            <label for="fullname">Your ID:</label>
            <input disabled style="background-color: #fff;" type="number" class="form-control" name="identity" id="identity" value="{{user.ID}}" required>
        </div>
        {{!-- <div class="confirm-container col-12 mt-3">
            <button form="input-information-form" class="btn palatin-btn" style="float: right;" type="submit">Confirm</button>
        </div> --}}
    </form>
    <h2 class="mt-5 order-booking-container">Your Booking</h2>
    <ul class="order-list px-3" style="width: 100%;">
        {{#each orders}}
        <div class="mb-4" style="border: 1px solid #eee;"></div>
        <li>
            <div class="order-item d-flex justify-content-between align-items-center">
                <h4 class="order-title">{{this.roomType}}</h4>
            </div>
            <div class="order-item mb-3 d-flex justify-content-between align-items-center">
                <div class="">
                    <h6 class="order-title">Room: <span style="font-size: 18px; color: #cb8670;">{{this.roomID}}</span> ({{this.people}} people)</h6>
                    <span class="order-date">{{this.checkin}} to {{this.checkout}}</span>
                </div>
                <div class="">
                    <p class="order-price">Price: <span>{{this.price}}$</span></p>
                    <p class="order-price">Status: <span>{{this.status}}</span></p>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    <ul class="order-list px-3" style="width: 100%;">
        <div class="mb-4" style="border: 1px solid #eee;"></div>
        <li>
            {{#each services}}
             <div class="order-item d-flex justify-content-between align-items-center">
                <h4 class="order-title">{{this.ServiceName}}</h4>
            </div>
            <div class="order-item mb-3 d-flex justify-content-between align-items-center">
                <div class="">
                    <p class="order-price">Amount: x<span>{{this.number}}</span></p>
                    <span class="order-date">Order date: {{this.orderDate}}</span>
                </div>
                <div class="">
                    <p class="order-price">Price: <span>{{this.price}}$</span></p>
                    
                </div>
            </div>
            {{/each}}
        </li>
    </ul>
    <div class="mb-4" style="border: 1px solid #eee;"></div>
    <div class="mb-4">
       <p class="order-price" style="font-size: 26px;">Total: <span style="font-weight: 600;">{{total}}$</span></p>
    </div>
</div>

<script src="/js/formValidation.js"></script>