<div id="search-form" class="row flex-row-reverse mt-3 me-5">
  <div class="bg-light rounded rounded-pill shadow-lg col-4">
    <div class="input-group">
      <input id="myInput" type="search" onkeyup="mySearchFunction()" placeholder="Nhập tên thương hiệu bạn cần tìm?" aria-describedby="btn-search" class="form-control border-0 bg-light">
      <div class="input-group-append">
        <button id="btn-search" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>

<table id="myTable" class="table table-bordered">
  <thead>
    <tr>
      <th>Tên thương hiệu</th>
      <th>Danh sách sản phẩm</th>
      <th>Điều chỉnh</th>
    </tr>
  </thead>

  <tbody>
    {{#each producers}}
      <tr>
        <td><h6>{{this.name}}</h6></td>
        <td class="list-producer{{@index}}"></td>
        <td>
          <div class="row">
            <div class="col-4">
              <a href="/producer/edit-producer/{{_id}}">
                <i class="far fa-edit" style="font-size: 15px;"
                title="Chỉnh sửa thương hiệu"></i>
              </a>

            </div>

            <div class="col-4">
              <a
              href="/producer/delete-producer/{{_id}}"
              onclick="return confirm('Bạn có muốn xóa thương hiệu không')"
            >
              <i class="fas fa-trash" style="color: red; font-size: 15px" 
              title="Xóa thương hiệu" >
            </i>
            </a>              
            </div>
          </div>          
             
      </tr>
    {{/each}}
  </tbody>
</table>

<input type="hidden" value={{length}} id="length">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    const length = $('#length').val();
    for(let i = 0; i < length; i++){
      $(".list-producer"+i).append($(".product"+i));
    }
  });  
</script>

{{#each products}}
  <div class="product{{@index}}">
    {{#if this}}
      {{#each this}}      
          <div class="product" style="display: flex; justify-content: space-between; margin-bottom: 7px;">
            <div style="display: flex;">
              <a href="{{this.image}}" target="_blank">
                <img
                class="thumbnail img-responsive"
                src="{{this.image}}"
                alt=""
                width="150px"
                height="150px"
                style="margin-bottom: 5px; margin-right: 20px; border-radius: 10px;"
                />
              </a>            

              <div>
                <p>{{this.name}}</p>
                <p>Giá: {{this.price}}</p>
                <p>Số lượng còn: {{this.quantity}}</p>
                <p>Danh mục: {{this.category}}</p>
              </div>
            </div>         
            
            <div>
              <a href="/product/delete-product/{{_id}}" 
                onclick="return confirm('Bạn có muốn xóa sản phẩm khỏi thương hiệu này không')">
                <i class="fas fa-trash" 
                  style="color: red; font-size: 15px; margin-right: 20px"
                  title="Xóa sản phẩm" >
                </i>
              </a>              
            </div>

          </div>      
      {{/each}}
    {{else}}
      <h6>Không có sản phẩm nào</h6>
    {{/if}}
  </div>
{{/each}}

<div class="center mb-2 mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {{#unless this.isPreviousPage}} disabled {{/unless}}">
                <a class="page-link " href="/producer/list-producer/{{this.previousPage}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            {{#each pages}}
                <li class="page-item {{#if this.isCurrentPage}} active {{/if}}">
                    <a class="page-link" href="/producer/list-producer/{{this.page}}">{{this.page}}</a>
                </li>
            {{/each}}

            <li class="page-item {{#unless this.isNextPage}} disabled {{/unless}}">
                <a class="page-link" href="/producer/list-producer/{{this.nextPage}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>