<section
  class="vh-50 bg-image"
  style="background-image: url('https://mdbootstrap.com/img/Photos/new-templates/search-box/img4.jpg'); background-size: cover;"
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card mt-4" style="border-radius: 15px;">
            <div class="card-body p-5">

              <div style="display: none;" id="message" class="alert alert-danger" role="alert">                
              </div>

              <h2 class="text-uppercase text-center mb-3">Cập nhật thông tin dịch vụ</h2>

              <form id="edit-service-form" method="POST" action="/service/edit-service">
                <input type="hidden" name="id" value="{{service._id}}" />

                {{!-- name --}}
                <div class="form-outline mb-2">
                  <label class="form-label" for="name">Tên dịch vụ</label>
                  <input
                    name="name"
                    type="text"
                    id="name"
                    class="form-control form-control-lg"
                    value="{{service.name}}"
                  />
                </div>

                {{!-- description --}}
                <div class="form-outline mb-2">
                  <label class="form-label" for="description">Mô tả</label>
                  <textarea
                    class="form-control"
                    id="description"
                    rows="5"
                    name="description"
                  >{{service.description}}</textarea>
                </div>

                {{!-- price --}}
                <div class="form-outline mb-2">
                  <label class="form-label" for="price">Giá</label>
                  <input
                    name="price"
                    type="number"
                    id="price"
                    class="form-control form-control-lg"
                    value="{{service.price}}"
                  />
                </div>
               
                {{!-- image --}}
                <div class="center">
                  <img id="image" style="border-radius: 10px;" src="{{service.image}}" alt="" width="120px" height="auto" />
                </div>
                
                {{!-- choose file image --}}
                <div class="form-outline mb-4">
                  <label class="form-label" for="fileImageService">Ảnh</label>
                  <input name="image" type="file" id="fileImageService" class="form-control form-control-lg" required/>
                </div>

                {{!-- service type --}}
                <div class="form-outline mb-2">
                  <select
                    id="serviceType"
                    name="serviceType"
                    class="form-control form-control-lg"
                  >
                    {{#each serviceType}}
                      <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                </div>

                <input type="hidden" name="urlImage" id="url-image" value="{{service.image}}"/>
                <input type="hidden" name="selectedServiceType" id="selected-service-type">

              </form>

              <div class="d-grid gap-2 mt-4">
                <button
                  onclick="myFunction()"
                  class="btn btn-primary btn-lg btn-block"
                >Cập nhật</button>
              </div>

              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              <script>
                $('#fileImageService').change(function(e){
                  var fileName = e.target.files[0].name;
                  $('#image').attr('src', URL.createObjectURL(e.target.files[0]));
                });

                function myFunction(){
                  (async () =>{                     
                    const name = $('#name').val();
                    const description = $('#description').val();
                    const price = $('#price').val();
                    const fileImageService = $('#fileImageService').val();

                    if (name == "") {
                      $('#message').show();
                      $('#message').html('Bạn chưa nhập tên sản phẩm!');
                      $('#name').focus();
                      return;
                    }
                    if (description == "") {
                      $('#message').show();
                      $('#message').html('Bạn chưa nhập chi tiết sản phẩm!');
                      $('#description').focus();
                      return;
                    }
                    if (price == "") {
                      $('#message').show();
                      $('#message').html('Bạn chưa nhập giá sản phẩm!');
                      $('#price').focus();
                      return;
                    }
                    if (parseInt(price) < 0) {
                      $('#message').show();
                      $('#message').html('Giá sản phẩm không được nhỏ hơn 0!');
                      $('#price').focus();
                      return;
                    }

                    const valueServiceType = $("#serviceType option:selected").text();
                    $('#selected-service-type').val(valueServiceType);

                    if (fileImageService != "") {
                      const urlImage = await upload("#fileImageService");
                      document.getElementById('url-image').value = urlImage;
                    }                                                                        
                    document.getElementById('edit-service-form').submit();  
                  })();                                                               
                }
              </script>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> upload-image}}