<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card mt-4" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        <h2 class="text-uppercase text-center mb-3">Hóa đơn chi tiết</h2>

                        <div class="table-responsive">
                            <div>Họ tên: <b>{{customerInfo.fullname}} </b></div>
                            <div>CMND: <b>  {{customerInfo.ID}}</b></div>
                            <div>SĐT: <b> {{customerInfo.phone}}</b></div>
                            <div>Số phòng: <b> {{room.name}}</b></div>
                            <div>Loại phòng: <b> {{room.type}}</b></div>

                            <div>Check in: <b> {{room.checkin}}</b></div>
                            <div>Check out: <b> {{room.checkout}}</b></div>
                            

                            {{!-- <table id="roomTable" class="table table-bordered">
                                <div style="font-weight: bold;">Tiền phòng</div>
                                <thead>
                                    <tr>
                                        <th class="text-center">Tên phòng</th>
                                        <th class="text-center">Loại phòng</th>
                                        <th class="text-center">Giá</th>
                                        <th class="text-center">Thành tiền</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="text-center">{{room.name}}</td>
                                        <td class="text-center">{{room.type}}</td>
                                        <td class="text-center">{{room.price}}</td>
                                        <td class="text-end ">{{room.price}}</td>
                                    </tr>
                                </tbody>
                            </table> --}}

                            <table id="serviceTable" class="table table-bordered" style="margin-top: 20px;">
                                <thead>
                                    <tr>
                                        <th class="text-center">Tên dịch vụ</th>
                                        <th class="text-center">Giá</th>
                                        <th class="text-center">Số lượng/Thời gian</th>
                                        <th class="text-center">Thành tiền</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="text-center">Phòng</td>
                                        <td class="text-center">{{room.price}}</td>
                                        <td class="text-center">{{room.numday}}</td>
                                        <td class="text-end ">{{room.subtotal}}</td>
                                    </tr>
                                    {{#each service}}
                                    <tr>
                                        <td class="text-center">{{this.name}}</td>
                                        <td class="text-center">{{this.price}}</td>
                                        <td class="text-center">{{this.quantity}}</td>
                                        <td class="text-end ">{{this.subtotal}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>


                                <tfoot>
                                    <tr>
                                        <td colspan="3" class="hidden-xs text-end "><strong>Tổng tiền</strong></td>
                                        <td class="hidden-xs text-end "> <strong>{{total}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="hidden-xs text-end ">
                                            <a href="/receipt/{{room.id}}/payment">
                                                <button class="btn btn-success">Thanh toán</button>
                                            </a>
                                        </td>

                                    </tr>
                                </tfoot>
                            </table>

                        </div>



                        {{!-- <div class="form-outline mb-2">
                            <label class="form-label" for="username">Username</label>
                            <input value="{{staff.username}}" type="text" id="username"
                                class="form-control form-control-lg" readonly />
                        </div>

                        <div class="form-outline mb-2">
                            <label class="form-label" for="name">Họ tên</label>
                            <input value="{{staff.fullname}}" type="text" id="name" class="form-control form-control-lg"
                                readonly />
                        </div>

                        <div class="form-outline mb-2">
                            <label class="form-label" for="birthday">Ngày sinh</label>
                            <input value="{{staff.birthday}}" type="text" id="birthday"
                                class="form-control form-control-lg" readonly />
                        </div>

                        <div class="form-outline mb-2">
                            <label class="form-label" for="phone-number">Số điện thoại</label>
                            <input value="{{staff.phone}}" type="text" id="phone-number"
                                class="form-control form-control-lg" readonly />
                        </div>

                        <div class="form-outline mb-2">
                            <label class="form-label" for="email">Email</label>
                            <input value="{{staff.email}}" type="text" id="email" class="form-control form-control-lg"
                                readonly />
                        </div>

                        <div class="form-outline mb-2">
                            <label class="form-label" for="bankAccountNumber">Số tài khoản</label>
                            <input value="{{staff.bankAccountNumber}}" type="text" id="bankAccountNumber"
                                class="form-control form-control-lg" readonly />
                        </div>

                        <div class="form-outline mb-2">
                            <label class="form-label" for="ID">ID</label>
                            <input value="{{staff.ID}}" type="text" id="ID" class="form-control form-control-lg"
                                readonly />
                        </div> --}}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>